In [1]:
import pandas as pd

In [2]:
## Create a Basic DataFrame
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], 
                  columns=["A", "B", "C"],
                  index=["x", "Y", "Z", "BA"])

In [3]:
## Some useful functions about dataframes

df.head() # Show the first 5 rows
# df.head(2) # first 2 rows
# df.tail(2) # last 2 rows
# df.columns # Show the column names
# df.index # Show the row names
# df.info() # Show info such as the columns and their types
# statsDf = df.describe() # Means, maxes, stats, etc
# display(statsDf)
# display(df.head())

# # Columns and unique Values
# A = df['A']
# uVals = A.unique()
# display(A)
# display(type(A))
# display(uVals)

df.shape # (rows,cols)
df.size # Total Number of elements

12

In [ ]:
## Read from a parquet
# results = pd.read_parquet('./data/results.parquet')
# results.to_parquet

In [ ]:
## Read excel
# olympics_data = pd.read_excel('./data/olympics-data.xlsx', sheet_name='results')
# olympics_data.to_excel()

In [95]:
## Loading from a CSV File
coffee = pd.read_csv('./warmup-data/coffee.csv')
# # coffee.to_parquet(path="./check.parquet") # Save it

In [ ]:
## Accessing Data 
# coffee.sample(3, random_state=2) # Get some random rows (repeatable with random_state)
coffee.loc[:, ["Day", "Units Sold"]] # Loc returns just the rows and cols that you want
coffee.iloc[:,1] # Allows you to use integer based indexing 
coffee.Day # Grab a single column
# coffee.index = coffee.Day # Set the index
# coffee


# Note that for single values you can use iat or at, for slightly better performance...

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [94]:
## Setting various bits of data
coffee.loc[0,"Units Sold"] # has value of 25
coffee.loc[0:2,'Units Sold'] = 20 #Now it has a value of 20
coffee.loc[0,'Units Sold']

np.int64(20)

In [ ]:
## More Useful functions
coffee.sort_values(["Coffee Type", "Units Sold"], ascending=[False, True])
coffee['Coffee Type'].unique()

# If you need to loop through
# Note that this is not very efficient.  Try to stick to built in pandas methods
for idx, row in coffee.iterrows():
    print(f"{idx} {row}\n")

In [ ]:
## Load more Data
bios = pd.read_csv('./data/bios.csv')

In [199]:
## Filtering Operations
rowPts = (bios['height_cm'] > 215) & (bios['born_country']=='USA')
cols_to_keep =  ["NOC", "name", "born_region","height_cm","born_country"]
filtered_df = bios.loc[rowPts, cols_to_keep]
filtered_df = bios[rowPts][cols_to_keep] # this is equivelent to the previos line
sorted_filtered_df = filtered_df.sort_values("height_cm", ascending=False)
sorted_filtered_df.head()

,NOC,name,born_region,height_cm,born_country
5781,United States,Tommy Burleson,North Carolina,223.0,USA
6722,United States,Shaquille O'Neal,New Jersey,216.0,USA
6937,United States,David Robinson,Florida,216.0,USA
123850,United States,Tyson Chandler,California,216.0,USA

In [ ]:
## Filter with string operations
name_pts = bios['name'].str.contains(r're[nw]', case=False)
country_pts = bios['born_country'].isin(['USA', 'FRA'])
notNanPts = ~bios['height_cm'].isna()
bios[name_pts & notNanPts & country_pts][cols_to_keep]

# Filter using complex Query 
# Would need to learn this way more...
bios.query('name == "Trena King"')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
2200,2210,Trena King,1958-01-17,Kingwood,West Virginia,USA,United States,172.0,68.0,NaN